SERVER_PORT=8081
API_PREFIX=/api/v1
SPRING_DATASOURCE_URL=jdbc:mysql://127.0.0.1:3306/personal_blog_member?useSSL=false&serverTimezone=Asia/Shanghai&characterEncoding=utf8
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=123456
SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
MEMBER_AUTH_SESSION_TTL_SECONDS=86400
MEMBER_AUTH_ALLOW_MOCK_VERIFY_CODE=true
MEMBER_AUTH_MOCK_VERIFY_CODE=123456
MEMBER_AUTH_ALLOW_PLAIN_PASSWORD=true
